button {
    width: 100%;
    height: 100%;
    border-style: none;
    background-color: transparent;
    text-align: center;
    word-wrap: break-word;
}

.btn-counter {
    width: 100%;
    height: auto !important;
    border: 2px solid grey;
}

h1 {
    width: 100%;
    text-align: center;
}

.row {
    flex-wrap: nowrap !important;
}

.square {
    margin: 1px;
    border: 1px solid black;
    height: 20vw;
    max-height: 10rem;
    width: 20vw !important;
}

.btn-active {
    background-color: lime;
    
}